# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [32]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [33]:
#Anything with a decimal point.
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [34]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

In [35]:
my_new_num = 123
my_new_num += 2
print(my_new_num)

125

##### Subtraction

In [36]:
num1 = 2
num2 = 5.7

result_diff = num1 - num2
print(result_diff)
print(type(result_diff))

-3.7
<class 'float'>

In [37]:
result_diff -= 3
print(result_diff)

-6.7

##### Multiplication

In [38]:
result_prod = num1 * num2
print(result_prod)

11.4

In [39]:
result_prod *= 2
print(result_prod)

22.8

##### Division

In [40]:
results_div = 4 / 2
print(results_div)
print(type(results_div))

2.0
<class 'float'>

##### Floor Division

In [41]:
result_floor = 5 // 2
print(result_floor)

2

##### Modulo

In [42]:
result_mod = 5 % 2
print(result_mod)

1

##### Exponential

In [43]:
square = 5 ** 2
print(square)
square **= 2
print(square)

25
625

In [44]:
cube = 5 ** 3
print(cube)
cube **=3
print(cube)

125
1953125

### String Input-Output

##### String Assignment

In [45]:
name = "Scarlett"
name = 'Scarlett'
print(name)

Scarlett

In [48]:
word = "Scarlett's"
print(word)

word = 'Scarlett\'s'
print(word)

sentence = "\"Kevin's jacket is awesome\", he said"
print(sentence)

long = """
hey
you!
"Aydee" is a genius
'Dak' not so much ...
"""
print(long)

Scarlett's
Scarlett's
"Kevin's jacket is awesome", he said

hey
you!
"Aydee" is a genius
'Dak' not so much ...

In [49]:
line="hey \n there here is a tab \t blah blah new line with space"
print(line)

hey
 there here is a tab 	 blah blah new line with space

##### print() <br>
<p>Don't forget about end=' '</p>

In [52]:
name = "Jalen"
print("Hello", name, "The Dawgs are no good", 'Get ready to get Stung!', sep=' ** ', end = '$$$$')
print("done")

Hello ** Jalen ** The Dawgs are no good ** Get ready to get Stung!$$$$done

##### String Concatenation

In [54]:
first = "Grady"
last = "Dickerson"
full_name = first + " " + last
print(full_name)
full_name += " is a funny individual"
print(full_name)

Grady Dickerson
Grady Dickerson is a funny individual

##### Type Conversion

In [56]:
# int() str() list() dict() tuple() set() float()
# built in functions that will convert one data type to another

num1 = 3
num2 = "4"

print(num1 + int(num2))
print(str(num1) + num2)

7
34

##### input()

In [59]:
age = input("What is your age?")
print(age)
print(type(age))

What is your age?40
40
<class 'str'>

##### format()

In [60]:
age = int(input("What is your age?"))
result_string = 'You are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age?40
You are 40 years old and you are getting wiser!

#### f-strings

In [62]:
age = int(input("What is your age? "))
x = "Blah Blah Blah is all I hear in class today."
result_string = f'You are {age} years old and getting wiser! {x}'
print(result_string)

What is your age? 40
You are 40 years old and getting wiser! Blah Blah Blah is all I hear in class today.

##### Old Way (python 2)

! - bang, exclamation point
# - pound sign, or hash
[] - brackets
() - parathesis 
{} - braces
#! - shebang
% - grapes
< - angle brackets / greater than or less than
^ carrot

In [61]:
age = "35"
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [64]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
print(f"\nYou drive a {color} {year} {make} {model}.")

What color is your car? red
What year is your car? 2017
What make is your car? Chevrolet
What model is your car? Volt

You drive a red 2017 Chevrolet Volt.

### If Statements

In [65]:
5 == 5

True

In [66]:
bool(5)

True

In [67]:
bool('a string')

True

In [68]:
bool('')

False

In [69]:
bool(0)

False

In [70]:
bool(1)

True

In [71]:
bool([])

False

In [72]:
bool([1,2,3])

True

In [76]:
3 > 2

True

In [77]:
3 < 2

False

In [78]:
3 <= 2

False

In [79]:
3 >= 2

True

In [80]:
3 == 2

False

In [81]:
3 != 2

True

In [75]:
num1 = 2
num2 = 10

if num1 == num2:  
    #means everything in this code block will run if it returns true
    print("equal")
else:
    print("not equal")
    
if num1 != num2:
    print("not equal")
else:
    print("equal")

not equal
not equal

In [82]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num < num2:
    print("num1 is lesser")
else: 
    print("equal")

num1 is greater

In [83]:
True and False

False

In [84]:
True and True

True

In [85]:
True or False

True

In [86]:
if num2 == 2 or num1 == 20:
    print('yes')
else:
    print('no')

yes

In [90]:
# Ternary Operator ... inline if statements

# (value if true) [if] [boolean] [else] [value if false]

name = "john"

my_num = 5 if name == "steve" else 0
print(my_num)

my_num = 5 if name == "steve" else 10 if name == "john" else 0
print(my_num)

0
10

##### 'is' keyword

In [92]:
# only use this when asking is something is None
x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [93]:
#membership checks
char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("s is not in the name ... !!!!")
else:
    print("The word has an S")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [99]:
color = input("What is your favorite color? ")
if "P" in color.upper():
    print(f"The letter p is in {color}.")
else:
    print(f"The letter p is NOT in {color}.")

What is your favorite color? red
The letter p is NOT in red.

In [ ]:
"you have a p" if "p" in input("what is your name? ").lower() else "no p"

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [101]:
# for [placeholder] in [iterable] = something you can iterate over
name = "Gareth Atkins"

for letter in name:
    print(f"the next letter is {letter}")
    print('another line')
print("a third line")

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
the next letter is
another line
the next letter is A
another line
the next letter is t
another line
the next letter is k
another line
the next letter is i
another line
the next letter is n
another line
the next letter is s
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [139]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("THE LETTER IS R")
        continue #stops execution at the continue
        
    print(f"the next letter is {letter}")
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
the next letter is
another line
the next letter is A
another line
the next letter is t
another line
the next letter is k
another line
the next letter is i
another line
the next letter is n
another line
the next letter is s
another line

##### Break Statement

In [140]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("THE LETTER IS R")
        break #stops completely
        
    print(f"the next letter is {letter}")
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R

##### Pass Statement

In [141]:
name = "Gareth Atkins"

for letter in name:
    pass #anytime a code block is required and you don't want to write it yet, pass will allow it to go on

print("rest of program")

rest of program

In [142]:
foods = ["pizza", "tacos", "dimsum", "sushi"]

In [144]:
for food in foods:
    print(food)
    print(type(food))

pizza
<class 'str'>
tacos
<class 'str'>
dimsum
<class 'str'>
sushi
<class 'str'>

In [145]:
len(foods)

4

In [151]:
list(range(0,4))

[0, 1, 2, 3]

In [154]:
for index in range(len(foods)):
    print(index)
    print(foods[index])
    
    # i usually represents index

0
pizza
1
tacos
2
dimsum
3
sushi

In [155]:
for tuple in enumerate(foods): #
    print(tuple)

(0, 'pizza')
(1, 'tacos')
(2, 'dimsum')
(3, 'sushi')

In [156]:
x, y = (1, 2)
print(x)
print(y)

1
2

In [160]:
for index, food in enumerate(foods):
    print("at index", index, "is the food: ", food)

at index 0 is the food:  pizza
at index 1 is the food:  tacos
at index 2 is the food:  dimsum
at index 3 is the food:  sushi

##### Double For Loops

In [159]:
counter = 0

for i in range(5):
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total={counter}')
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [ ]:
# while [boolean]:
    #do this codeblock

In [163]:
num = 0
while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [165]:
while True:
    print("Hello")
    num=int(input("Guess the magic number?"))
    if num == 5:
        break

Hello
Guess the magic number?1
Hello
Guess the magic number?1
Hello
Guess the magic number?1
Hello
Guess the magic number?1
Hello
Guess the magic number?2
Hello
Guess the magic number?3
Hello
Guess the magic number?4
Hello
Guess the magic number?5

In [166]:
while True:
    user_input = input("What do you want to do? quit or continue? ")
    if user_input.lower() == "quit":
        break
    if user_input.lower() == "continue":
        print("You said continue.")

What do you want to do? quit or continue? continue
You said continue.
What do you want to do? quit or continue? Continue
You said continue.
What do you want to do? quit or continue? quit

##### While & For Loops Used Together

In [167]:
num = 0
total = 0

while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        total += 1
        print("for loop iteration: ", i)
        print("Total Time inner loop ran", total)
    num += 1

while loop iteration:  0
for loop iteration:  0
Total Time inner loop ran 1
for loop iteration:  1
Total Time inner loop ran 2
for loop iteration:  2
Total Time inner loop ran 3
for loop iteration:  3
Total Time inner loop ran 4
for loop iteration:  4
Total Time inner loop ran 5
while loop iteration:  1
for loop iteration:  0
Total Time inner loop ran 6
for loop iteration:  1
Total Time inner loop ran 7
for loop iteration:  2
Total Time inner loop ran 8
for loop iteration:  3
Total Time inner loop ran 9
for loop iteration:  4
Total Time inner loop ran 10
while loop iteration:  2
for loop iteration:  0
Total Time inner loop ran 11
for loop iteration:  1
Total Time inner loop ran 12
for loop iteration:  2
Total Time inner loop ran 13
for loop iteration:  3
Total Time inner loop ran 14
for loop iteration:  4
Total Time inner loop ran 15
while loop iteration:  3
for loop iteration:  0
Total Time inner loop ran 16
for loop iteration:  1
Total Time inner loop ran 17
for loop iteration:  2
Total Time inner loop ran 18
for loop iteration:  3
Total Time inner loop ran 19
for loop iteration:  4
Total Time inner loop ran 20
while loop iteration:  4
for loop iteration:  0
Total Time inner loop ran 21
for loop iteration:  1
Total Time inner loop ran 22
for loop iteration:  2
Total Time inner loop ran 23
for loop iteration:  3
Total Time inner loop ran 24
for loop iteration:  4
Total Time inner loop ran 25

### Built-In Functions

##### range()

In [168]:
#range(start, stop, step)
#range(stop)
#range(start, stop)

list(range(0,4,1))

[0, 1, 2, 3]

In [169]:
list(range(4))

[0, 1, 2, 3]

In [170]:
list(range(0,4))

[0, 1, 2, 3]

##### len()

In [171]:
len('hey')
len(str(1234))

4

##### help()

In [172]:
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [173]:
num = 1
isinstance(num, str)

False

In [175]:
isinstance(num, float)

False

In [176]:
isinstance(num, list)

False

In [178]:
isinstance(num, int)

True

##### abs()

In [180]:
# | -5 | = 5 ... DIST FROM ZERO

print(abs(-5))
print(abs(5))

5
5

### Try and Except

### Lists

##### Declaring Lists

In [102]:
# Index:     0          1          2         3
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [109]:
print(names[1])

a_list = [1,2,3,["a","b","c"],4]

print(a_list[3])

inner_list = a_list[3]
print(inner_list[1])

print(type(a_list[3]))
print(a_list[3][1])
print(type(a_list[3][1]))

a_list[4]
a_list[-1]

Patrick
['a', 'b', 'c']
b
<class 'list'>
b
<class 'str'>

4

In [121]:
# Reverse a List
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names[::2])

#print("Alex smells!"[::-1])
#  first is included, second  is excluded
names[1:3]

print(names[4:0:-1])

my_string = "racecar"
if my_string == my_string [::-1]:
    print("It's palindrome!")

['Vanessa', 'Moises']
['Armani', 'Moises', 'Patrick']
It's palindrome!

##### .append()

In [128]:
# Adds to end.
names = ["Vanessa", "Patrick", "Moises", "Armani"]
names.append("Ramika")
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [129]:
# Add anywhere!
names.insert(2, "Sabrina")
print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani', 'Ramika']

##### .pop()

In [130]:
new_class = []
new_class.append(names.pop())
print(names)

print(new_class)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']
['Ramika']


##### .remove()

In [131]:
names.remove("Sabrina")
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### del()

In [133]:
del names[1]
print(names)

['Vanessa', 'Moises', 'Armani']

In [134]:
# WARNING: Do NOT use del in a for loop!!!!!!!!!
names = ["Vanessa", "Patrick", "Moises", "Armani"]

for i in range(len(names)):
    print(names[i])
    if i==2:
        del names[i]

Vanessa
Patrick
Moises

IndexError: list index out of range

##### Concatenating Two Lists

In [135]:

l1 = [1,2,3]
l2 = [4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [136]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [215]:
cubes = []
for value in range(1,100):
    cube = value ** 3
    cubes.append(cube)
    if cube == 1000:
        break
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>
Numbers that are only divisable by themselves.

In [4]:
for prime in range(2,101):
    if prime > 1:
        for x in range(2,prime):
            if (prime % x) == 0:
                break
        else:
            print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [188]:
age = int(input("What is your age? "))
if age < 18:
    print("You are a kid.")
elif age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

What is your age? 66
You are a senior adult.